/* Desktop version */
@media screen and (min-width:1024px) {
    body.post-page {
        width: 100%;
    }

    body.home-page > main {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    }

    body.post-page > main {
        display: grid;
        grid-template-columns: 70% 20%;
        justify-content: center;
        text-align: center;
    }


}
