
@import url('print.css') print;
@import url('desktop.css') screen;
@import url('mobile.css') screen;

:root {
    --deep-blue: rgba(10, 20, 30, 1);

    --smokey-white: rgba(230, 230, 230, 1);
    --light-purple: rgb(199, 93, 241);

    --pink: rgb(150, 10, 87);
}

body {
    background: linear-gradient(180deg, var(--deep-blue), var(--deep-blue), var(--smokey-white));
        color: var(--smokey-white);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: 'The Nautigal', cursive;
    font-size: xx-large;
}

h2 {
    font-size: large;
}
/* body {
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body > header {
    text-align: center;
}

article {
    margin-top: 50px;
    padding: 10%;
}

blockquote {
    padding: 15%;
    position: relative;
    text-align: justify;
}

blockquote:before {
    position: absolute;
    content: open-quote;
    font-size: 4em;
    margin-left: -0.6em;
    margin-top: -0.4em;
    animation: pulsing calc(10 * var(--delay)) ease-in-out infinite;
}

blockquote:after {
    position: absolute;
    content: close-quote;
    font-size: 4em;
    bottom: 0;
    right: 0;
    margin-right: 0.4em;
    animation: pulsing calc(10 * var(--delay)) ease-in-out infinite;
}

body > footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
}

@keyframes pulsing {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
} */